@using System
@using System.Xml
@model List<Campgrounds>




    <table class="table">
        <tr><th><h2>Campgrounds</h2></th></tr>


        @foreach (var item in Model)

        {
            <tr>
                <td>@item.FacilityName</td>
                <td>@item.Latitude</td>
                <td>@item.Longitude</td>
            </tr>
         }
        </table>
            


