@using System
@using System.Xml
@model CampsiteDetail




            
                    Check out this campsite! 
    <a class="navbar-brand" asp-area="" asp-controller="CampsiteDetail" asp-action="Index">Campsite Detail</a>
               
                    
               
        }
    }
}