@using System
@using System.Xml
@model CampsiteDetail



            
                    <ul >
                       
                           @{ 
                              
                            <li class="date-month">@Model.alert</li>
                            <li class="date-day">@Model.description</li>
                            <li class="date-year">@Model.drivingDirections</li>
                        }
                    </ul>
               
                    
               
        }
    }
}